.listProduct {
  display: inline-block;
}

.Product {
  margin: 20px;
  padding: 5px;
  border: 1px solid blue;
  max-width: 200px;
  font-family: 'Archivo', sans-serif;
  text-align: center;
}

.Product h3 {
  color: darkred;
}

.price {
  font-family: 'Archivo', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: green;
  cursor: pointer;
}

.listProduct img {
  height: 200px;
  width: 200px;
}
