header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid darkblue;
}

header h1 {
  margin: 0;
  color: darkblue;
  font-size: 50px;
  font-family: 'Archivo', sans-serif;
}

header input {
  width: 30%;
  border-radius: 10px;
  border: 2px solid darkblue;
  outline: none;
}

header input:focus {
  background-color: rgba(0, 0, 139, 0.1);
  transition: 0.5s;
}

header input::placeholder {
  color: darkblue;
  padding-left: 10px;
}
